<ul id="dropdown_pc" class="dropdown-content">
  <li><%= link_to 'Students', students_path %></li>
  <li><%= link_to 'Add new students', new_student_path %></li>
</ul>

<ul id="dropdown_mobile" class="dropdown-content">
  <li><%= link_to 'Students', students_path %></li>
  <li><%= link_to 'Add new students', new_student_path %></li>
</ul>

<nav>
  <div class="container nav-wrapper">
    <%= link_to 'Tech Univ', root_path , {class: "brand-logo right"} %>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="left hide-on-med-and-down">
      <li><%= link_to 'Courses', '' %></li>
      <li><%= link_to 'Enrollments', '' %></li>
      <li>
        <a class="dropdown-trigger" href="#!" data-target="dropdown_pc">
          Account<i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><%= link_to 'Courses', '' %></li>
  <li><%= link_to 'Enrollments', '' %></li>
  <li>
    <a class="dropdown-trigger" href="#!" data-target="dropdown_mobile">
      Account<i class="material-icons right">arrow_drop_down</i>
    </a>
  </li>
</ul>
